<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Font.Awesome" version="5.13.0" targetFramework="net452" />
  <package id="font-awesome" version="4.7.0" targetFramework="net452" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net452" />
  <package id="FontAwesome.Sharp" version="5.12.1" targetFramework="net452" />
  <package id="FontAwesomeIcons" version="1.0.3" targetFramework="net452" developmentDependency="true" />
  <package id="FontAwesomeIconsDropdown" version="1.4" targetFramework="net452" />
  <package id="Icons8.UI" version="0.2.0" targetFramework="net452" />
  <package id="MaterialIcons" version="1.0.3" targetFramework="net452" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net452" />
 
</packages>